<app-car-selector></app-car-selector>

<div class="colors">
  <app-color-picker name="Primary Color"></app-color-picker>
  <app-color-picker name="Secondary Color"></app-color-picker>
</div>

<mat-form-field appearance="fill">
  <mat-label>Decal 🎨</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Boost 🔥</mat-label>
  <input matInput />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Goal Explosion 💥</mat-label>
  <input matInput />
</mat-form-field>

<div class="buttons">
  <button mat-raised-button disabled>Preview Car</button>
  <button mat-raised-button color="primary">Export BakkesMod Data</button>
</div>
